<ion-view title="Page6" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <label class="item item-input " id="page1-input1">
            <span class="input-label">E-mail: </span>
            <span class="input-label">{{ email }}</span>
        </label>
        <label class="item item-input " id="page1-input1">
            <span class="input-label">Passworwd</span>
            <span class="input-label">{{ pass }}</span>
        </label>
        <a ui-sref="page5" id="page-button6" class=" button button-positive  button-block ">Aceptar</a>
    </ion-content>
</ion-view>