<ion-view title="Page5" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
         <form id="page1-form1" class="list ">
            <label class="item item-input " id="page1-input1">
                <span class="input-label">E-mail</span>
                <input type="text" ng-model="email" placeholder="">
            </label>
            <label class="item item-input " id="page1-input1">
                <span class="input-label">Password</span>
                <input type="password" ng-model="pass" placeholder="">
            </label>
            <button ng-click="goto(email,pass)">Acepta</button>
        </form>
    </ion-content>
</ion-view>